<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--<context:annotation-config/>-->

    <!--可以按指定的包路径，将包下所有组件扫描，
    如果发现组件类定义前有以下标记，会将组件扫描到Spring容器
    @Component  其他组件
    @Controller 控制层组件 一般使用MVC框架时用到
    @Service    业务层组件
    @Repository 持久层组件
    @Resource   对象装配
    使用annotation 自动注册bean,并检查@Required,@Autowired的属性已被注入base-package为需要扫描的包（含所有子包）-->
    <!-- 开启组件组件扫描器 -->
    <!-- 自动扫描 -->
    <!--<context:component-scan base-package="com.zrzy.dao,com.zrzy.service,com.zrzy.controller" />-->
    <context:component-scan base-package="com.voc">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 导入外部属性文件，并指定属性文件的编码格式 -->
    <context:property-placeholder file-encoding="UTF-8" location="classpath:properties/*.properties"/>

    <!-- 导入数据源（连接池）配置文件 -->
    <import resource="spring-datasource.xml"/>

    <!-- 导入 Spring mybatis 配置文件 -->
    <import resource="spring-mybatis.xml"/>

    <!-- 导入 Spring 事务控制的配置文件 -->
    <import resource="spring-transation.xml"/>
</beans>